<div class="overlay is-visible" id="overlay"></div>
<div class="modal is-visible" id="modal"
     [ngClass]="{'long-modal': displayedFormIndex === 1, 'welcome-modal': displayedFormIndex === 0}">
  <div class="modal-container">
    <img id="renmoney-widget-logo" src="assets/renmoney.jpg" alt="renmoney">
    <button class="modal-close-btn" id="close-btn" (click)="toggleModalState()">
      x
    </button>
<!--    <div class="divider"></div>-->
    <div class="modal-body">
      <div class="modal-form">
        <ng-container
          *ngTemplateOutlet="formDisplayTemplate; context: {formIndex: displayedFormIndex}">
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #formDisplayTemplate let-formIndex="formIndex">

  <div class="welcome-message" *ngIf="formIndex === 0">
    This is a renmoney loan application Widget
    <button class="continue-button" type="submit" (click)="startApplication()">Start Application</button>
  </div>
  <form
      *ngIf="formIndex === 1" [formGroup]="eligibilityForm" #ngEligibilityForm="ngForm"
      class="eligibility-check" (ngSubmit)="submitGenericForm('eligibilityForm')">
    <div class="form-group">
      <label for="name">Full Name (middle name included)</label>
      <input type="text" name="name" id="name" formControlName="name">
      <span class="error-message" *ngIf="ngEligibilityForm.submitted">
        <span *ngIf="eligibilityForm.controls.name.invalid">Full name is required</span>
      </span>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" formControlName="email" [email]="true">
      <span class="error-message" *ngIf="ngEligibilityForm.submitted || eligibilityForm.controls.email.dirty">
        <span *ngIf="eligibilityForm.controls.email.invalid && eligibilityForm.controls.email.dirty">Incorrect Email Format!</span>
        <span *ngIf="eligibilityForm.controls.email.invalid && eligibilityForm.controls.email.pristine">Email is required!</span>
      </span>
    </div>
    <div class="form-group">
      <label for="DOB">Date of Birth</label>
      <input type="date" name="DOB" id="DOB" formControlName="DOB">
      <span class="error-message" *ngIf="ngEligibilityForm.submitted">
        <span *ngIf="eligibilityForm.controls.DOB.invalid">Date of birth is required</span>
      </span>
    </div>
    <div class="flex-form-group">
      <div class="form-group">
        <label for="employmentState">Employment Status?</label>
        <select name="employmentState" id="employmentState" formControlName="employmentState">
          <option selected>Select...</option>
          <option value="employed">Employed</option>
          <option value="self-employed">Self Employed</option>
        </select>
        <span class="error-message" *ngIf="ngEligibilityForm.submitted">
          <span *ngIf="eligibilityForm.controls.employmentState.invalid">Employment Status is required!</span>
        </span>
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <select name="gender" id="gender" formControlName="gender">
          <option selected>Select...</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <span class="error-message" *ngIf="ngEligibilityForm.submitted">
          <span *ngIf="eligibilityForm.controls.gender.invalid">Gender is required!</span>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input type="number" name="phone" id="phone" formControlName="phone">
      <span class="error-message" *ngIf="ngEligibilityForm.submitted">
        <span *ngIf="eligibilityForm.controls.phone.invalid">Your Phone Number is required!</span>
      </span>
    </div>
    <div class="flex-form-group">
      <div class="form-group">
        <label for="state">Where do you live?</label>
        <select name="state" id="state" formControlName="state">
          <option selected>Select...</option>
          <ng-container *ngFor="let state of statesInNigeria">
            <option [value]="state.state">{{state.state}}</option>
          </ng-container>
        </select>
        <span class="error-message" *ngIf="ngEligibilityForm.submitted">
          <span *ngIf="eligibilityForm.controls.state.invalid">State of residence is required!</span>
        </span>
      </div>
      <div class="form-group">
        <label for="lga">Local Government</label>
        <select name="lga" id="lga" formControlName="lga">
          <option selected>Select...</option>
          <ng-container *ngFor="let state of statesInNigeria">
            <option [value]="state.state">{{state.state}}</option>
          </ng-container>
        </select>
        <span class="error-message" *ngIf="ngEligibilityForm.submitted">
          <span *ngIf="eligibilityForm.controls.lga.invalid">Local government is required!</span>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="bvn">BVN</label>
      <input type="number" name="bvn" id="bvn" formControlName="bvn">
      <span class="error-message" *ngIf="ngEligibilityForm.submitted">
          <span *ngIf="eligibilityForm.controls.bvn.invalid">Bank Verification Number is required!</span>
        </span>
    </div>
    <button class="continue-button" type="submit">Continue</button>
  </form>

  <form
    *ngIf="formIndex === 2" [formGroup]="personalForm"
    class="personal-details" (ngSubmit)="submitGenericForm('personalForm')">
    <div class="form-group">
      <label for="residentialStatus">Residential Status</label>
      <select name="residentialStatus" id="residentialStatus" formControlName="residentialStatus">
        <option selected>Select...</option>
        <option value="owner">Owner</option>
        <option value="renting">Renting</option>
      </select>
    </div>
    <div class="form-group">
      <label for="residentialAddress">Residential Address</label>
      <input type="text" name="residentialAddress" id="residentialAddress" formControlName="residentialAddress">
    </div>
    <div class="form-group">
      <label for="residentialDate">Date Moved In</label>
      <input type="date" name="residentialDate" id="residentialDate" formControlName="residentialDate">
    </div>
    <div class="form-group">
      <label for="maritalStatus">Marital Status</label>
      <select name="maritalStatus" id="maritalStatus" formControlName="maritalStatus">
        <option selected>Select...</option>
        <option value="single">Single</option>
        <option value="married">Married</option>
      </select>
    </div>
    <div class="form-group">
      <label for="educationLevel">Level of education</label>
      <select name="educationLevel" id="educationLevel" formControlName="educationLevel">
        <option selected>Select...</option>
        <option value="primary">Primary</option>
        <option value="secondary">Secondary</option>
        <option value="graduate">Graduate</option>
        <option value="post-graduate">Post-Graduate</option>
      </select>
    </div>
    <button class="continue-button" type="submit">Continue</button>
  </form>

  <form
    *ngIf="formIndex === 3" [formGroup]="employerForm"
    class="employment-details" (ngSubmit)="submitGenericForm('employerForm')">
    <div class="form-group">
      <label for="employer">Employer Name</label>
      <input type="text" name="employer" id="employer" formControlName="employer">
    </div>
    <div class="form-group">
      <label for="employerSector">Employer Sector</label>
      <select name="employerSector" id="employerSector" formControlName="employerSector">
        <option selected>Select...</option>
        <option value="finance">Finance</option>
        <option value="charity">Charity</option>
        <option value="tech">Tech</option>
        <option value="agriculture">Agriculture</option>
        <option value="education">Education</option>
      </select>
    </div>
    <div class="form-group">
      <label for="employmentDate">Employment Start Date</label>
      <input type="date" name="employmentDate" id="employmentDate" formControlName="employmentDate">
    </div>
    <div class="form-group">
      <label for="officeAddress">Office Address</label>
      <input type="text" name="officeAddress" id="officeAddress" formControlName="officeAddress">
    </div>
    <div class="form-group">
      <label for="workEmail">Work Email</label>
      <input type="email" name="workEmail" id="workEmail" formControlName="workEmail">
    </div>
    <button class="continue-button" type="submit">Submit</button>
  </form>

</ng-template>
